/* =============
    Contact
============= */

#contact_hero{
    padding: 32px 16px;
    text-align: center;
}
#contact_form{
    background-color: var(--seaFoamGreen);
    padding: 32px 16px;
}
