/* =============
    Base
============= */
html{
    scroll-behavior: smooth;
}

ul{
    padding: 0;
    margin: 0;
    //flex-grow: 4;
    li{
        list-style: none;
    }
}
.hideImg{
    //display: none;
}
.header_padding{
    padding: 90px;
}

.xxl_grid{
    @include xxl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". xxl_content .";

        .xxl_grid_item{
            grid-area: xxl_content;
        }
    
    }

}
.xl_grid{
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". xl_content .";

        .xl_grid_item{
            grid-area: xl_content;
        }
    
    }

}